
<section class="bg-white relative z-[50]">
    <div class="max-w-screen-xl mx-auto  md:py-8 p-4">
        <div class="flex sm:justify-between sm:items-center flex-col sm:flex-row">
            <div class="flex mb-4 sm:mb-0 items-center">
                <img src="images/logo-BfNap0Pe.png" class="h-8" alt="BfNap0Pe">
                <span class="text-2xl font-semibold ms-3">Recipe</span>
            </div>
            <span class="text-2xl font-bold text-blue-700">Route</span>
        </div>

        <hr class="my-6 lg:my-8 border-gray-200">

        <div class="sm:text-center text-gray-500 text-sm">
            © 2025 <a href="#" class="hover:underline">Nagy Osama™</a>. All Rights Reserved.
        </div>
        
    </div>
</section>