@if(this.mealeDetailsById){
    <section class="flex flex-col gap-4 lg:flex-row ">
        <div class="lg:w-2/3" >
            <h1 class="text-5xl font-semibold mb-8">{{mealeDetailsById.strMeal}}</h1>
            <div class="grid gap-4 lg:grid-cols-2" >
                <div>
                    <img [src]="mealeDetailsById.strMealThumb" class="w-full rounded-2xl" alt="">
                    <ul class="flex mt-8 justify-center gap-4">
                        <li class="py-2 px-3 bg-red-600 text-white text-center rounded-lg">
                            <a [href]="mealeDetailsById.strYoutube"> <i class="fa-brands fa-youtube me-1"></i> youtube</a>
                        </li>
                        <li class="py-2 px-3 bg-[#21ba75] text-white text-center rounded-lg">
                            <a [href]="mealeDetailsById.strSource"> <i class="fa-solid fa-globe me-1"></i>  source </a>
                        </li>
                        
                    </ul>
                </div>
                <div class="">
                    <p>{{mealeDetailsById.strInstructions}}</p>
                </div>
            </div>
        </div>
    
        <div class="lg:w-1/3 p-4">
            <div class="p-4 bg-white rounded-2xl">
                <h3 class="text-2xl font-semibold border-b-4 p-2 border-gray-200 mb-4">Ingredients</h3>
                @for(i of getIngredients(mealeDetailsById) ; track $index){
                    <div class="flex justify-between items-center border-b-2 border-gray-200 p-2 last-of-type:border-b-0 ">
                        <span>{{i.ingred}}:  </span>
        
                        <span>{{i.measur}}</span>
                    </div>
                }
                
               
                
                
                
            </div>
        </div>
    </section>
}



